<footer class="footer mt-auto py-3">
	<div class="container text-center">
		<small class="text-muted ">
			&copy;{{ "now"|date("Y") }}
			&middot;
			<span class="text-danger">#</span>
			par
			<a href="#" class="link-danger text-decoration-none">Groupe 6 TP ENI</a>
		</small>
	</div>
</footer>
